<nav class="nav nav-pills nav-fill gap-5">
  <a class="nav-link active" aria-current="page" href="/login">Login</a>
  <a class="nav-link" href="/register">Register</a>
  <a class="nav-link" href="/me/logout">Logout</a>
</nav>

